/*-----------------------------------------------------------
-------------------------------------------------------------
						Common CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
html{
	scroll-behavior: smooth;
}
div {
	color: #202020;
}
.container {
	padding-top: 30px;
	margin-bottom: 60px;
}
p {
	text-align: justify;
}
#sharetech {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: green;
	background: white;
	text-align: center;
}
#overlay {
	width: 100%;
	height: 100vh;
	background: black;
	opacity: 0.7;
	position: fixed;
	z-index: 3;
	display: none;
	transition: all ease 0.3s;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
					End of Common CSS
-------------------------------------------------------------
-----------------------------------------------------------*/





/*-----------------------------------------------------------
-------------------------------------------------------------
					Navigation Bar CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
#navigation {
	width: 100%;
	background: #9D4158;
	display: flex;
	position: fixed;
	bottom: 0;
}
#navigation .navigationItems {
	flex: 1;
	text-align: center;
}
#navigation .navigationItems a {
	color: #B5B5B5;
	text-decoration: none;
	transition: all ease 0.3s;
}
#navigation .navigationItems a:hover {
	color: white;
}
#navigationMenu {
	width: 100%;
	background: #9D4158;
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
}

#smallNavigation {
	width: 90%;
	position: fixed;
	left: 5%;
	bottom: 1000px;
	z-index: 4;
	transition: all ease 0.3s;
}
#smallNavigation .smallNavigationItems {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 3px 0 3px 0;
	text-align: center;
	background: #FAFAFA;
	color: #202020;
	border-radius: 5px;
}
#smallNavigation .smallNavigationItems a {
	color: #202020;
	display: block;
	text-decoration: none;
}
#smallNavigation .smallNavigationItems:hover {
	background: #C5C5C5;
	border-radius: 5px;
}
#smallNavigation .smallNavigationItems a:hover {
	background: #C5C5C5;
	border-radius: 5px;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
				End of Navigation Bar CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
				Emergency Phone Number CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
#emergencyPhoneWrap {
	background: #FFCCDA;
	padding: 10px;
	border-radius: 5px;
}
#emergencyPhoneTitle {
	margin-bottom: 30px;
}
.phones {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.fix {
	position: fixed;
	z-index: 2;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
			End of Emergency Phone Number CSS
-------------------------------------------------------------
-----------------------------------------------------------*/





/*-----------------------------------------------------------
-------------------------------------------------------------
						Cases Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/

/*Myanmar Case*/
#myanmarCase {
	margin-bottom: 30px;
}
#myanmarCase table {
	margin-left: 20px;
}
#myanmarCase table tr {
	height: 30px;
	line-height: 30px;
}
/*End of Myanmar Case*/

/*Global Case*/
.globalCaseTableTitleNum {
	width: 7%;
	display: inline-block;
	text-align: center;
}
.globalCaseTableTitleCountry {
	width: 20%;
	display: inline-block;
	text-align: center;
}
.globalCaseTableTitleTotal {
	width: 25%;
	display: inline-block;
	text-align: center;
}
.globalCaseTableTitleDeath {
	width: 20%;
	display: inline-block;
	text-align: center;
}
.globalCaseTableTitleMore {
	width: 25%;
	display: inline-block;
	text-align: center;
}
#globalCaseTableTitle {
	background: #FFCCDA;
	height: 45px;
	line-height: 45px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.globalCaseTableRow {
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px #C1C1C1;
	border-radius: 5px;
}
.globalCaseTableRow a {
	color: #9D4158;
	text-decoration: none;
	transition: all ease 0.3s;
}
.globalCaseTableRow a:hover {
	color: #474747;
}
/*End of Global Case*/

/*-----------------------------------------------------------
-------------------------------------------------------------
					End of Cases Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
					Detail Cases Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
/*Myanmar Case*/
#detailCase {
	margin-bottom: 30px;
}
#detailCase table {
	margin-left: 20px;
}
#detailCase table tr {
	height: 40px;
	line-height: 40px;
}
/*End of Myanmar Case*/
#caseDetailsPreviousPage {
	width: 120px;
	height: 35px;
	line-height: 35px;
	background-color: #9D4158;
	border-radius: 5px;
	text-align: center;
}
#caseDetailsPreviousPage a {
	color: #B5B5B5;
	text-decoration: none;
	transition: all ease 0.3s;
}
#caseDetailsPreviousPage a:hover {
	color: white;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
				End of Detail Cases Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/





/*-----------------------------------------------------------
-------------------------------------------------------------
				Local and Global News Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.newsBoxes {
	width: 100%;
	margin: 0px 0 35px 0;
	overflow: hidden;
}
.newsBoxes img {
	height: 250px;
}
.localNewsDetailsAlert {
	width: 40%;
	margin-bottom: 10px;
	display: flex;
}
.localNewsDetailsAlert div {
	flex: 1;
}
.newsBoxTitle {
	margin-bottom: 10px;
}
.newBoxImg {
	text-align: center;
	line-height: 250px;
	font-weight: bold;
}
.newsBoxes .newsText {
	height: 114px;
	overflow: hidden;
}
.newsBoxes .newsBoxText {
	position: relative;
} 
.newsBoxes .newsReadmore {
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #9D4158;
	border-radius: 5px;
}
.newsBoxes .newsReadmore a {
	color: #B5B5B5;
	text-decoration: none;
	font-size: 13px;
}
.newsBoxes .newsReadmore a:hover {
	color: white;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
			End of Local and Global News Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
					News Details Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
/*New Details*/
#newsDetailsImage{
	width: 100%;
}
.newsDetailsAlert {
	width: 25%;
	display: flex;
	margin-top: 20px;
}
.newsDetailsAlert div {
	flex: 1;
}
.newsDetailsInfo {
	width: 75%;
	height: 25px;
	line-height: 25px;
	background: #9D4158;
	color: white;
	font-size: 12px;
	text-align: center;
	border-radius: 5px;
	margin-right: 10px;
}
#newsDetailsPreviousPage {
	background-color: #9D4158;
	border-radius: 5px;
	text-align: center;
	position: fixed;
	z-index: 3;
	right: 9%;
}
#newsDetailsPreviousPage a {
	color: #B5B5B5;
	text-decoration: none;
	transition: all ease 0.3s;
}
#newsDetailsPreviousPage a:hover {
	color: white;
}
/*End of News Details*/

/*-----------------------------------------------------------
-------------------------------------------------------------
					End of News Details Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/



/*-----------------------------------------------------------
-------------------------------------------------------------
					What is Sharetech? Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/

.sharetechText{
	padding: 30px;
	box-shadow: 0px 3px 2px #C1C1C1;
	border-radius: 5px;
}	

/*Sharetech Members Box*/
.sharetechMembersBox{
	position: relative;
	background-color: #FFCCDA;
	margin-top: 100px;
	border-radius: 5px;
	padding: 0 20px 30px 20px;
}
.sharetechMembersHeader{
	position: absolute;
	top: -20px;
	left: 40%;
	width: 20%;
	height: 40px;
	background-color: #9D4158;
	color: white;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
}
/*End of Sharetech Members Box*/


/*Sharetech Members Profile*/
.sharetechMembers {
	position: relative;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 0px;
	margin-top: 150px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 35%;
	box-shadow: 2px 2px 2px #C1C1C1;
}
.profileOfSharetechMembers {
	width: 60%;
	position: absolute;
	right: 20%;
	top: -50%;
}
/*End of Sharetech Members Profile*/

/*-----------------------------------------------------------
-------------------------------------------------------------
			End of What is Sharetech? Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/





/*-----------------------------------------------------------
-------------------------------------------------------------
					Responsive CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
@media only screen and (max-width: 2500px) {
	/*Common CSS*/
	div {
		font-size: 15px;
	}
	/*End of Common CSS*/

	/*Emergency Phone Number CSS*/
	#emergencyPhoneWrap {
		display: block;
	}
	/*End of Emergency Phone Number CSS*/


	/*Navigation Bar CSS*/
	#navigation {
		height: 50px;
		line-height: 50px;
	  	padding: 0 10% 0 10%;
	}
	#navigation .navigationItems {
		flex: 1;
		text-align: center;
	}
	#navigationMenu {
		display: none;
	}
	/*End of Navigation Bar CSS*/


	/*Local and Global News Page CSS*/
	.newBoxes {
		height: 250px;
	}
	.newsBoxes .newsText {
		height: 114px;
	}
	.newsBoxes .newsReadmore {
		position: absolute;
		z-index: 3;
		right: 20px;
		top: 210px;
	}
	/*End of Local and Global News Page CSS*/



	/*News Details CSS*/
	#newsDetailsPreviousPage {
		bottom: 60px;
		width: 110px;
		height: 40px;
		line-height: 40px;
	}
	/*End Of News Details CSS*/



	/*What is Sharetech? CSS*/
	.sharetechLogo{
		width: 80%;
		margin: 0 auto;
	}
	.sharetechText{
		height: 280px;
	}
	/*End of What is Sharetech? CSS*/

}

@media only screen and (max-width: 1200px) {
	/*Common CSS*/
	div {
		font-size: 14px;
	}
	/*End of Common CSS*/


	/*Navigation Bar CSS*/	
  	#navigation {
  		height: 45px;
  		line-height: 45px;
  		padding: 0 7% 0 7%;
  	}
  	#navigation .navigationItems {
		flex: 1;
		text-align: center;
	}
	/*End of Navigation Bar CSS*/



	/*Local and Global News Page CSS*/
	.newsBoxes .newsText {
		height: 85px;
	}
	/*End of Local and Global News Page CSS*/



	/*News Details CSS*/
	#newsDetailsPreviousPage {
		bottom: 55px;
		width: 110px;
		height: 35px;
		line-height: 35px;
	}
	/*End Of News Details CSS*/



	/*What is Sharetech? CSS*/
	.sharetechLogo{
		width: 90%;
		margin: 0 auto;
	}
	/*End of What is Sharetech? CSS*/

}

@media only screen and (max-width: 992px) {
	/*Common CSS*/
	div {
		font-size: 13px;
	}
	/*End of Common CSS*/


	/*Navigation Bar CSS*/
  	#navigation {
  		height: 40px;
  		line-height: 40px;
  		padding: 0 2% 0 2%;
  	}
  	#navigation .navigationItems {
		flex: 1;
		text-align: center;
	}
	/*End of Navigation Bar CSS*/


	/*Global Case CSS*/
	.globalCaseTableTitleMore {
		width: 20%;
	}
	/*End of Global Case CSS*/



	/*Local and Global News Page CSS*/
	.newsBoxes .newsText {
		height: 100px;
	}
	/*End of Local and Global News Page CSS*/



	/*News Details CSS*/
	.newsDetailsAlert {
		width: 35%;
	}
	#newsDetailsPreviousPage {
		bottom: 45px;
		width: 100px;
		height: 30px;
		line-height: 30px;
	}
	/*End Of News Details CSS*/



	/*What is Sharetech? CSS*/
	.sharetechLogo{
		width: 110%;
	}
	.sharetechText{
		height: 220px;
	}
	/*End of What is Sharetech? CSS*/

}

@media only screen and (max-width: 768px) {
	/*Common CSS*/
	div {
		font-size: 11px;
	}
	/*End of Common CSS*/


	/*Navigation Bar CSS*/
 	#navigation {
  		display: none;
  	}
	#navigationMenu {
		display: block;
		height: 40px;
		line-height: 40px;
	}
	/*End of Navigation Bar CSS*/


	/*Emergency Phone Number CSS*/
	#emergencyPhoneWrap {
		display: none;
	}
	/*End of Emergency Phone Number CSS*/


	/*Global Case CSS*/
	.globalCaseTableTitleMore {
		width: 20%;
	}
	/*End of Global Case CSS*/



	/*Local and Global News Page CSS*/
	.newBoxes {
		height: auto;
	}
	.newsBoxes .newsReadmore {
		position: absolute;
		z-index: 3;
		right: 27%;
		top: 140px;
	}
	.newsBoxes .newsText {
		height: 50px;
		margin-bottom: 30px;
	}
	/*End of Local and Global News Page CSS*/



	/*What is Sharetech? CSS*/
	.sharetechLogo{
		width: 30%;
		margin: 0 auto;
	}
	.sharetechText{
		height: 220px;
	}
	/*End of What is Sharetech? CSS*/

}

@media only screen and (max-width: 567px) {
	/*Common CSS*/
	div {
		font-size: 11px;
	}
	/*End of Common CSS*/
}
/*-----------------------------------------------------------
-------------------------------------------------------------
				End of Responsive CSS
-------------------------------------------------------------
-----------------------------------------------------------