#edit_myanmar_panel {
    display: none;
}

#localnews_panel {
    display: none;
}

#globalnews_panel {
    display: none;
}

#remove_log_alert {
	display: none;
}

/*-----------------------------------------------------------
-------------------------------------------------------------
						Common CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.form-control:focus {
    border: 0;
    box-shadow: none; 
}
/*-----------------------------------------------------------
-------------------------------------------------------------
					End of Common CSS
-------------------------------------------------------------
-----------------------------------------------------------*/





/*-----------------------------------------------------------
-------------------------------------------------------------
						Login CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.loginErrorAlert {
	width: 40%;
	position: absolute;
	right: 30%;
	transition: all ease 0.3s;
}
.loginBox {
	background: #FFCCDA;
	border-radius: 5px;
	margin: 10% auto;
	padding: 80px;
}
.loginBtn {
	background: #9D4158;
	color: white;
	width: auto;
	height: 35px;
	border: none;
	border-radius: 5px;
}

/*-----------------------------------------------------------
-------------------------------------------------------------
					End of Login CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
						Dashboard CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.adminBoxes {
	background: #FFCCDA;
	text-align: center;
	border-radius: 5px;
	margin-top: 30px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.adminBoxBtns {
	width: 20%;
	height: 35px;
	background: #9D4158;
	color: white;
	border: none;
	border-radius: 5px;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
					End of Dashboard CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
					Myanmar Case CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.myanmarCaseBox {
	margin: 30px auto;
	background: #FFCCDA;
	border-radius: 5px;
	padding: 50px;
}
.myanmarCaseBtn {
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background: #9D4158;
	color: white;
}
.myanmarCaseBtn a {
	color: white;
	display: block;
	text-decoration: none;
}

/*-----------------------------------------------------------
-------------------------------------------------------------
				End of Myanmar Case CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
				Local and Global News CSS
-------------------------------------------------------------
-----------------------------------------------------------*/ 
.localGlobal {
	margin: 30px auto;
	padding: 50px;
	background: #FFCCDA;
	border-radius: 5px;
}
.localGlobalBtn {
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background: #9D4158;
	color: white;
}
.localGlobalBtn a {
	color: white;
	display: block;
	text-decoration: none;
}
#localImg, #globalImg {
	width: auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	background: #9D4158;
	color: white;
	margin-bottom: 30px;
} 
#localImgClick, #globalImgClick {
	display: none;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
			End of Local and Global News CSS
-------------------------------------------------------------
-----------------------------------------------------------*/ 




/*-----------------------------------------------------------
-------------------------------------------------------------
					System Logs CSS
-------------------------------------------------------------
-----------------------------------------------------------*/ 
.systemLog {
	margin-top: 30px;
}
.systemLogBox {
	margin: 30px auto;
	padding: 50px;
	background: #FFCCDA;
	border-radius: 5px;
}
.systemLogBtn {
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background: #9D4158;
	color: white;
	margin-bottom: 20px;
}
#backtodash {
	width: auto;
	text-decoration: none;
}
#logTable {
	height: 60vh;
	overflow-y: scroll;
}
.card {
	border-radius: 5px;
	border: none;
	margin-top: 30px;
}
.removeBtn {
	width: auto;
	height: 35px;
	border: none;
	border-radius: 5px;
	background: #9D4158;
	color: white;
}
.removeDiscard {
	text-decoration: none;
	color: #9D4158;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
				End of System Logs CSS
-------------------------------------------------------------
-----------------------------------------------------------*/ 




/*-----------------------------------------------------------
-------------------------------------------------------------
					Traffic Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/ 
.traffic {
	margin-top: 30px;
}
.trafficBox {
	background: #FFCCDA;
	padding: 50px;
	border-radius: 5px;
}
.backdash {
	text-decoration: none;
	margin-top: 30px;
	display: block;
}
.viewTraffic {
	background: #9D4158;
	color: white;
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	border: none;
}
.trafficDay {
	background: #FFCCDA;
	border-radius: 5px;
	padding: 50px; 
}
.backtraffic {
	width: auto;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #9D4158;
	color: white;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	text-decoration: none;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
				End of Traffic Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
			Local Global News Edit Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.localGlobalEdit {
	margin-top: 30px;
}
.localGlobalEditBox {
	margin: 30px auto;
	padding: 50px;
	background: #FFCCDA;
	border-radius: 5px;
}
.localGlobalImg {
	width: 70%;
}
.localGlobalImgBtn {
	display: none;
}
.globalImgClick, .localImgClick {
<<<<<<< HEAD
	width: 40%;
=======
	width: auto;
>>>>>>> fe02a51cfff30b6e0b1506681494cf8b28762bfd
	height: 35px;
	line-height: 35px;
	background: #9D4158;
	color: white;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 20px;
}
.localGlobalEditBtn {
<<<<<<< HEAD
	width: 30%;
=======
	width: auto;
>>>>>>> fe02a51cfff30b6e0b1506681494cf8b28762bfd
	height: 35px;
	background: #9D4158;
	color: white;
	border: none;
	border-radius: 5px;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
		End of Local Global News Edit Page CSS
-------------------------------------------------------------
-----------------------------------------------------------*/