#edit_myanmar_panel {
    display: none;
}

#localnews_panel {
    display: none;
}

#globalnews_panel {
    display: none;
}

#remove_log_alert {
	display: none;
}

/*-----------------------------------------------------------
-------------------------------------------------------------
						Common CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.form-control:focus {
    border: 0;
    box-shadow: none; 
}
/*-----------------------------------------------------------
-------------------------------------------------------------
					End of Common CSS
-------------------------------------------------------------
-----------------------------------------------------------*/





/*-----------------------------------------------------------
-------------------------------------------------------------
						Login CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.loginErrorAlert {
	width: 40%;
	position: absolute;
	right: 30%;
	transition: all ease 0.3s;
}
.loginBox {
	background: #FFCCDA;
	border-radius: 5px;
	margin: 10% auto;
	padding: 80px;
}
.loginBtn {
	background: #9D4158;
	color: white;
	width: 20%;
	height: 35px;
	border: none;
	border-radius: 5px;
}

/*-----------------------------------------------------------
-------------------------------------------------------------
					End of Login CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
						Dashboard CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.adminBoxes {
	background: #FFCCDA;
	text-align: center;
	border-radius: 5px;
	margin-top: 30px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.adminBoxBtns {
	width: 20%;
	height: 35px;
	background: #9D4158;
	color: white;
	border: none;
	border-radius: 5px;
}
/*-----------------------------------------------------------
-------------------------------------------------------------
					End of Dashboard CSS
-------------------------------------------------------------
-----------------------------------------------------------*/




/*-----------------------------------------------------------
-------------------------------------------------------------
					Myanmar Case CSS
-------------------------------------------------------------
-----------------------------------------------------------*/
.myanmarCaseBox {
	margin: 30px auto;
	background: #FFCCDA;
	border-radius: 5px;
	padding: 50px;
}
.myanmarCaseBtn {
	width: 20%;
	height: 35px;
	border: none;
	border-radius: 5px;
	background: #9D4158;
	color: white;
}

/*-----------------------------------------------------------
-------------------------------------------------------------
				End of Myanmar Case CSS
-------------------------------------------------------------
-----------------------------------------------------------*/